.row{
    width: 100%;
}

.tags{
    display: inline-flex;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    color: #9999;
}

.contenedorColor{
    background: #EEEE;
}

.imagenClass{
    width: 680px; 
    height: 680px;
}


.contenedorPrecio{
    margin-top: 32px; 
    font-size: 46px;
}

.contenedorTitulo{
    font-size: 24; 
    font-weight: bold;
}

.contenedorTituloDesc{
    font-size:28px
}

.contenedorDescripcion{
    max-width: 50%;
    margin-top: 32px;
    font-size: 16px;
}